<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
</style>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Lit</title>
</head>
<header><div th:replace="fragment::navbar"></div></header>
<body>

<table class="table table-striped table-dark">
  <thead>
    <tr class="table-primary text-dark" >
      <th scope="col">Numero lit</th>
      <th scope="col">Nom Malade</th>
      <th scope="col">Prenom Malade </th>
      <th scope="col">Supprimer </th>
      <th scope="col" ><div align="center"><a th:href="@{/ajout-lit}" class="btn btn-dark" role="button">Ajouter Lit</a></div></th>
      
      
    </tr>
  </thead>
  <tbody>
   <tr th:each="lit:${page_lits.content}">
<td th:text="${lit.getIdLit()}"></td>

<td > 
      <span th:if="${lit.getMalade()}" th:text="${lit.getMalade().getLname()}"></span>
      <span th:unless="${lit.getMalade()}" th:text="vide"></span>
</td>
<td >
<span th:if="${lit.getMalade()}" th:text="${lit.getMalade().getFname()}"></span>
      <span th:unless="${lit.getMalade()}" th:text="vide"></span>
</td>
</td>

<td> <a th:href="@{/Supprimer-lit(id=${lit.getIdLit()})}">Supprimer</a> </td>
<td class="table-primary text-dark"></td>


  </tbody>
</table>
<nav aria-label="Page navigation example ">
  
  <ul class="pagination ">
    
    <li class="page-item text-dark " th:each="p:${pages}"><a class="page-link" th:text="${p}" th:href="@{/lit(page=${p})}"></a></li>
   
   
  </ul>
  
</nav>

<br>
<br>
</body>
<div class="footer">
 <footer ><div th:replace="fragment::footer" ></div></footer></div>
</html>